* {
    box-sizing: border-box;
}

header {
    position: fixed;
    height: 100vh;
    margin: 0 auto;
}

nav {
    background-color: grey;
    color: white; 
    height: 100vh;
    padding: 10px;
}

.button {
    position: absolute;
    list-style:none;
    right: 100%;
    top: 50%;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    width: 100%;
    height: 50px;
    display: inline-block;
    text-align: center;
    z-index: 2;
}

.menu {
    position: relative;
    list-style:none;
    margin: 0;
    top: 0;
    transform: translateX(-170px);
    z-index: 1;
    width: 220px;
    text-transform: uppercase;
    /* transition: 1s; */
}

.menu:hover {
    transform: translateX(0px);
    z-index: 3;
}
    
.button:hover {
    z-index: 0;
}

ul {
	list-style: none;
	padding-left: 20px;
}

li{
	position: relative;
	padding-left: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
}

li:before{
	content: "";
	width: 4px;
	height: 4px;
	display: inline-block;
    background-color:#ff9016;
    border-color: black;
    border-width: 2px;
    border-style: solid;
	position: absolute;
	left: 0;
    top: 0.9em;
    transform: rotate(45deg);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:#ff9016;
}