*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-header {
    background-color: #D3B714; 
}

.main-content {
    flex-grow: 1;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
}

.list li{
    position: relative;
    display:inline;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

div p {
    margin: 0;
    text-align: center;
}

.content div {
    min-width: 210px;
}

.center-content {
    padding: 20px;
    flex-grow: 1;
}

.center-content div {
    transition: all 0.5s linear;
}

.left-content {
    background-color: #C798B9;
    flex-basis: 210px;
}

.right-content {
    background-color: #9CB1C7;
    flex-basis: 210px;
}

.main-footer {
    background-color: #86EC86;
}

.footer-content p {
    padding-top: 10px;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-cards div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin: 5px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(25, 2, 46);
    border-radius: 10%;
}

.container-cards button {
    border-radius: 50px;
    background-color: rgb(25, 2, 46);
    color: white;
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

h4 {
    text-align: center;
}

.images {
    width: 70px;
    height: 70px;
    border-color: #C7B7B7;
    border-width: 7px;
    border-style: solid;
	border-radius: 50%;
}

.card:hover {
    transform: translateY(5px);
}

/* level-3 */
.holder {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    border: black;
    border-radius: 20px 20px 0 0;
    border-style: solid;
    overflow: hidden;
}

.item {
    min-width: 100px;
    height: 50px;
    text-align: center;
}

.holder div:nth-child(1) {
    background-color: #FD644D;
    min-width: 120px;
    flex-grow: 2;
    order: 1;
}

.holder div:nth-child(2) {
    background-color: #FDA429;
    flex-grow: 1;
    order: 4;
}

.holder div:nth-child(3) {
    background-color: #663797;
    flex-grow: 1;
    order: 3;
}

.holder div:nth-child(4) {
    background-color: #4983B2;
    flex-grow: 1;
    order: 5;
}

.holder div:nth-child(5) {
    background-color: #0E7F12;
    min-width: 120px;
    flex-grow: 2;
    order: 2;
}


