*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
	font-family: 'Nunito Sans', arial, sans-serif ;
	color: #8a8a8a;
	font-size: 14px;
	line-height: 1.786;
	letter-spacing: 0.025em;
}

.wrapper{
	max-width: 100%;
	overflow: hidden;
	position: relative;
}
.banner {
	height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 90px;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Bebas Neue', sans-serif;
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: 0;


}
h1{
	color: #444342;
	font-size: 4.286rem;
}
.container{
	max-width: 1200px;
	margin:0 auto ;
}
ul:not([class]){
	list-style: none;
	padding-left: 20px;
}
ul:not([class]) li{
	position: relative;
	padding-left: 15px;
	margin-bottom: 15px;
}
ul:not([class]) li:before{
	content: "";
	width: 3px;
	height: 3px;
	display: inline-block;
	background-color:#ff9016;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top:0.9em;
	transform: translateY(-50%);
}
ol:not([class]){
	list-style: none;
	padding-left: 20px;
	counter-reset: counter;
}
ol:not([class]) li:before{
	content: counter(counter) ".";
	counter-increment: counter;
	font-weight: 700;
}
p{
	margin-top: 0;
}

table {
	width: 100%;
}

table thead th {
	background-color: #f3f4f4;
}

