html {
    height: 100%;
}

body {
    background-color: green;
    height: 100%;
} 

.bg-box {
    width: 100%;
    height: 100%;
    background-image: url(https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg), 
                      url(https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png), /*trava */
                      url(https://www.freeiconspng.com/uploads/lamp-png-0.png), /*lampa */
                      url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru), /*eg */
                      url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png) /*pon */;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center,
                         bottom,
                         top,
                         left,
                         right;
    background-size: auto, 15%, 2%, 5%, 5%;
    background-attachment: fixed;
}