blockquote > p {
    color: green;
}

/* blockquote > p::before {
    content: '"';
}

blockquote > p::after {
    content: '"';
} */

a[href^='https://'] {
    color: red;
}

.list > li:last-child a {
    background: navy;
}

ul + p {
    font-size: 26px;
}

.holder + h3 {
    color: pink;
}

#greycol {
    color: gray;
}

p:first-child {
    color: red;
} 

.yellow {
    color: yellow;
}

p:nth-of-type(3) {
    color: green;
}
