*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sidebar {
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color:#9cb0c7;
}

.left {
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color: #c798b8;
	order: -1;
}

.logo-picture {
	width: 140px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff0;
	padding: 15px;
	min-width: 100%;
}

#menu_toggle {
	display: none;
}

.bar-list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.bar-list li {
	margin: 10px;
}

.bar-list a {
	text-decoration: none;
	color: #000;
}

.main {
	display: flex;
	width: 100%;
	flex-grow: 1;
}

.content {
	flex-grow: 1;
	padding: 20px;
}

.content-header {
	display: block;
	text-align: center;
	font-size: 1.25em;
	margin-bottom: 30px;
}

.card-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

}

.card {
	margin: 0 10px 20px;
	width: calc(33.333% - 20px);
	padding: 10px 15px 15px;
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card-content {
	width: 100%;
}

.btn {
	text-decoration: none;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 3em;
	border: 2px solid #f50;
	color: #fff;
	background-color: #f90;
}

.image-box {
	width: 50%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid blue;
}

.image-box img {
	vertical-align: top;
}

.page-footer {
	padding: 10px 15px;
	background-color: rgba(0, 255, 0, .5);
	text-align: center;
}
 
@media (max-width: 1025px) {
	.wrapper .sidebar {
		width: 100%;
		margin: 0;
	}

	.main {
		flex-direction: column;
	}

	.left {
		order: 0;
	}

	.card-box {
		margin: 0;
	}

	.card {
		width: 100%;
		height: 400px;
	}

	.card-box .slick-track {
		display: flex;
		align-items: stretch;
	}
	
	.card-box .card.slick-slide {
		display: flex;
		height: auto;
	}
	
	.bar-list {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		right: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	 
	#menu_toggle {
		opacity: 0;
	}
	
	.menu_btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 25px;
		right: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}
	
	.menu_btn > span,
	.menu_btn > span::before,
	.menu_btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	}
	
	.menu__box {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		text-align: center;
		background-color: #ECEFF1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}
	  
	.menu_btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu_btn > span::after {
	  content: '';
	  top: 8px;
	}
	
	#menu_toggle:checked ~ .menu_btn > span {
		transform: rotate(45deg);
	}
	  
	#menu_toggle:checked ~ .menu_btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	  
	#menu_toggle:checked ~ .menu_btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	  
	#menu_toggle:checked ~ .bar-list {
		visibility: visible;
		right: 0;
	}
	
	.hamburger-menu {
		z-index: 1;
	}
	
	.menu_btn > span,
	.menu_btn > span::before,
	.menu_btn > span::after {
	  transition-duration: .25s;
	}
	.bar-list {
	  transition-duration: .25s;
	}
	a {
	  transition-duration: .25s;
	}
	
	.bar-list li {
		margin: 10px;
	}
	
	.bar-list a {
		display: block;
		padding: 12px 24px;
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}
	
	.bar-list a:hover {
		background-color: #CFD8DC;
	}
}