* {
    box-sizing: border-box;
}

/* level#2 */
.level-2 {
    height: 100vh;
    background-color: #0d5825;
    text-align: center;
    padding-top: 40px;
}

.quote {
    margin-bottom: 100px;
    color: #ffffff;
    font-size: 25px;
    quotes: "\201c" "\201d";
}

.card img {
    width: 150px;
    margin: 0;
    position: relative;
    transition: all 0.5s linear;
    cursor: pointer;
}

.cardleft:hover {
    transform: translateY(-15px) rotate(-20deg);
}

.cardmiddle:hover {
    transform: translateY(-15px) rotate(-10deg);
}

.cardright:hover {
    transform: translateY(-15px) rotate(7deg);
}

.cardleft {
    transform: rotate(-20deg);
    left: 115px;
    top: -8px;
}

.cardmiddle {
    transform: rotate(-10deg);
}

.cardright {
    transform: rotate(7deg);
    left: -105px;
    top: 15px;
}

/* level#3 */
.level-3{
    height: 100vh;
    padding: 50px;
}

.level-3 div {
    height: 100px;
    width: 100px;
    position: relative;
}

.one {
    background-color: #FF8888;
    z-index: 1;
}

.two {
    background-color: #7E8AEB;
    top: -40px;
    right: -60px;
    z-index: 3;
}

.three {
    background-color: #4DEF99;
    top: -80px;
    right: -120px;
    z-index: 2;
}