*,
*:before,
*:after {
	box-sizing: border-box;
}


html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.715;
	color: #343434;
}
img {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

h1 {
	font-size: 36px;
	line-height: 1.3334;
	letter-spacing: .06em;
	text-transform: uppercase;
	margin: 0 0 .75em;
}

a {
	text-decoration: none;
	color: #a4a4a4;
	transition: color .3s ease;
}

a:hover {
	color: #555;
}

p {
	margin: 0 0 2em;
}
.page-wrapper {
	max-width: 100%;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.page-header {
	background-color: #454545;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	position: relative;

}

.nav-list,
.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.breadcrumbs {
	display: flex;
	
}
.breadcrumbs li:after{
	content: '//';
	margin-left: 5px;
}

 .breadcrumbs li {
 	margin-right: 10px;
 }

.breadcrumbs li:last-child:after{
	content: none;
}



.nav-list {
	font-weight: 700;
	display: flex;
	align-items: center;


}
.burger{
	display: none;
}
.nav-list li {
	padding: 0 8px;
}

.nav-list a {
	color: #fff;
	transition: opacity .3s ease;
}

.nav-list a:hover {
	opacity: .5;
}

.hero-section {
	min-height: 350px;
	margin-bottom: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.text-content {
	max-width: 600px;
	margin: 0 auto 3.572em;
	text-align: center;
}

.post-header {
	display: block;
	font-size: .858rem;
	margin-bottom: 2.5em;
}

.post-category {
	text-transform: uppercase;
}

.mask{
	overflow: hidden;
	width: 100%;
}

.post-collage .slideset {
	margin: 0 -10px 4rem -10px;
	display: flex;
	flex-wrap: wrap;
}
.img-holder{
	padding: 0 10px;
	margin-bottom: 20px;
	width: 50%;
}


@media (max-width: 767px) {
	.burger{
		display: block;
	}
	.nav-list{
		display: block;
		position: absolute;
		top: 100%;
		left: 100%;
		background-color: #fff;
		transition: transform 0.5s ease;
		width: 100%;

	}
	.nav-list a {
		color: #454545;
	}
	.nav-active .nav-list {
		transform: translateX(-100%);
	}

	.post-collage .slideset{
		flex-wrap: nowrap;
		max-width: 100%;
	}

	.img-holder{
		width: 100%;
		flex-shrink: 0;
	}

	.img-holder img{
		width: 100%;
	}
}



.sidebar {
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color:#9cb0c7;
}

.left{
	flex-shrink: 0;
	width: 200px;
	padding: 10px;
	background-color: #c798b8;
	order: -1;
}

.logo-picture{
	width: 140px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ff0;
	padding: 15px;
	min-width: 100%;
}

.bar-list {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
 
#menu_toggle {
	opacity: 0;
}

.menu_btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ECEFF1;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
  