*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.wrapper {
	overflow: hidden;
	position: relative;
	max-width: 100%;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;

}

.nav-list > li {
	padding: 15px;
	position: relative;

}

.nav-list a {
	color: #575757;
	text-decoration: none;
}

.drop-down {
	display: none;
}
.baner:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.25);
}
.baner {
	position: relative;
	min-height: 100vh;
	background-size: cover; 
	padding: 120px 0 20px;
	color: #fff;
	display: flex;
	align-items: center;
}

.main-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: #fff; 
	font-size: 17px;
	line-height: 1.25;
	font-weight: 600;
	z-index:99;
}
.container{
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

